.ace-vibrant-ink .ace_gutter {
  background: #0c0c0c !important;
  color: #363636 !important;
}

.ace-vibrant-ink .ace_print-margin {
  width: 1px;
  background: #0c0c0c !important;
}

.ace-vibrant-ink {
  background-color: #0c0c0c !important;
  color: #ffffff;
}

.ace-vibrant-ink .ace_cursor {
  color: #ffffff;
}

.ace-vibrant-ink .ace_marker-layer .ace_selection {
  background: rgba(181, 213, 255, 0.4) !important;
}

.ace-vibrant-ink.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #0f0f0f;
}

.ace-vibrant-ink .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0);
}

.ace-vibrant-ink .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #404040;
}

.ace-vibrant-ink .ace_marker-layer .ace_active-line {
  background: #181818 !important;
}

.ace-vibrant-ink .ace_gutter-active-line {
  background-color: #181818 !important;
}

.ace-vibrant-ink .ace_marker-layer .ace_selected-word {
  border: 1px solid #6699cc;
}

.ace-vibrant-ink .ace_invisible {
  color: #404040;
}

.ace-vibrant-ink .ace_keyword,
.ace-vibrant-ink .ace_meta {
  color: #ff6600;
}

.ace-vibrant-ink .ace_constant,
.ace-vibrant-ink .ace_constant.ace_character,
.ace-vibrant-ink .ace_constant.ace_character.ace_escape,
.ace-vibrant-ink .ace_constant.ace_other {
  color: #339999;
}

.ace-vibrant-ink .ace_constant.ace_numeric {
  color: #99cc99;
}

.ace-vibrant-ink .ace_invalid,
.ace-vibrant-ink .ace_invalid.ace_deprecated {
  color: #ccff33;
  background-color: #000000;
}

.ace-vibrant-ink .ace_fold {
  background-color: #ffcc00;
  border-color: #ffffff;
}

.ace-vibrant-ink .ace_entity.ace_name.ace_function,
.ace-vibrant-ink .ace_support.ace_function,
.ace-vibrant-ink .ace_variable {
  color: #ffcc00;
}

.ace-vibrant-ink .ace_variable.ace_parameter {
  font-style: italic;
}

.ace-vibrant-ink .ace_string {
  color: #66ff00;
}

.ace-vibrant-ink .ace_string.ace_regexp {
  color: #44b4cc;
}

.ace-vibrant-ink .ace_comment {
  color: #9933cc;
}

.ace-vibrant-ink .ace_entity.ace_other.ace_attribute-name {
  font-style: italic;
  color: #99cc99;
}

.ace-vibrant-ink .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYNDTc/oPAALPAZ7hxlbYAAAAAElFTkSuQmCC)
    right repeat-y;
}
